@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;700;900&family=Open+Sans:ital,wght@0,300;0,400;0,700;1,400&display=swap');

.paper{
  background-color: #F2F6DF;
  max-width: 960px;
  margin: 40px auto 10px auto;
  padding: 20px;
  border-width: 4px;
  border-style: dotted;
  border-color: #F2E7C9;
}

body{
  background-color: #416788;
}

h1,h2,h3{
  font-family: 'Alegreya', serif;
  color: #5F958A;
}

*{
  font-family: 'Open Sans', sans-serif;
}

h1{
  text-align: center;
  font-size: 60px;
  margin: 0;
  font-weight: 900;
}

h2{
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  margin-top: 10px;
}

header{
  border-bottom-color: #416788;
  border-bottom-style: solid;
  border-bottom-width: 5px;
}

section{
  background-color: #DDEAD7;
  padding: 10px;
  margin: 20px 0;
}

h3{
  font-size: 25px;
  text-align: center;
}

.dish-title{
  text-align: center;
  font-weight: 400;
  margin: 0;
}

.dish-description{
  text-align: center;
  font-weight: 300;
  margin: 0
}

.dish-price{
  text-align: center;
  font-weight: 700;
  margin:0;
}

.dish{
  margin-bottom: 20px;
}
